In [ ]:
# Import the needed packages.
from snowflake.snowpark.context import get_active_session
import requests

session = get_active_session()

In [ ]:
# Your OpenWeatherMap API key
api_key = "119dfadfcf6cb65bb66c69ef1db3f482"

In [ ]:
# Prompt the user to enter the city name
city = "London"

In [ ]:
# Construct the API URL
url = f"https://api.openweathermap.org/data/2.5/weather?q={city}&APPID={api_key}"

# Make the API request
response = requests.get(url)

data = [{"data": response.json()}]

print(data)

# If we want to save the data to a table
session.create_dataframe(data).create_or_replace_temp_view("temp")

In [ ]:
-- Create a table from the resulting data.
create or replace table london as select * from temp

In [ ]:
select * from london